#courseContainer{
    width: 80%;

    justify-content: space-between; /* 在上下空间中垂直居中 */
    align-items: center; /* 在水平方向上居中 */
}
#pageContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
